*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  background-color: white;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}

/* set view highscores to the upper left of the page */
.header-left {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  color: hsl(206, 17%, 28%);
}

/* change cursor to pointer when hovering header-left and change text color to purple */
.header-left:hover {
  cursor: pointer;
  color: purple;
}

/* set timer to the upper right of the page */
.header-right {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  color: hsl(206, 17%, 28%);
}

/* set formatting for quiz section */
.quiz {
  background-color: hsl(0, 0%, 100%);
  font-size: 18px;
  text-align: center;
}
  
.quiz-body {
  min-height: 100px;
  display: block;
}
  
.quiz-footer {
  text-align: center;
}

/* set formatting for btn */
.btn {
  border: none;
  background-color: purple;
  border-radius: 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
  justify-content: center;
}

.btn:hover {
  background-color: #4b0082;
}
  
button[disabled] {
  cursor: default;
  background: #c0c7cf;
}